


/*.App1 {
padding: 10px;
  background-image: url('images/images1.jpeg');
  background-size:100%;
overflow: hidden;
 height: 100%;
}*/

p {
  color: #aaa;
  font-size: 5rem;

}
.wrapper {
    width: 100%;
   /*background-color: lightcyan;*/
}

.Logo{
  float:inherit;
}
input {
  font-family: 'cursive';

}
img {
    background: none;
    border: "0";

}
/*button{
  width:280px;
}*/

/*#text {
    z-index:100;
    position:absolute;
    color:white;
    font-size:100px;
    font-weight:bold;
    left:150px;
    top:350px;
}*/
